<!-- templates/emails/email_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Mail</title>
</head>
<body>
    {% if user.first_name %}
    <h1>Hello {{user.first_name}}!</h1>
    {% else %}
    <h1>Hello {{user}}!</h1>
    {% endif %}
    <br>
    <p>Click the link below to reset your password:</p>
    <p><a href="{{ reset_link }}">Reset Password</a></p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>
        If you have any questions or need further assistance, feel free to reach out to us at support@autoby24.ch. <br>
        Thank you for being a valued member of the autoby24 community. <br> <br>
        Best regards, <br>
        The autoby24 Team
    </p>
</body>
</html>