<!-- templates/emails/email_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Password update</title>
</head>
<body>
    {% if user.first_name %}
    <h1>Hello {{user.first_name}}!</h1>
    {% else %}
    <h1>Hello {{user}}!</h1>
    {% endif %}
    <br>
    <p>
        This is a confirmation that the password for your autoby24 account has been successfully changed. If you did not make this change, please contact our support team immediately. <br>
        Here are some tips to keep your account secure:
        <ul>
            <li>Use a strong and unique password.</li>
            <li>Avoid sharing your password with anyone.</li>
            <li>Regularly update your password.</li>
        </ul>
        If you have any questions or need further assistance, feel free to reach out to us at support@autoby24.ch. <br>
        Thank you for being a valued member of the autoby24 community. <br> <br>
        Best regards, <br>
        The autoby24 Team

    </p>
</body>
</html>

